.dashboard-container {
    width: 100dvw;
    height: calc(100dvh - 70px);
    padding-top: 70px;
}

.dashboard-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.card{
    padding: 20px;
    width: 100%;
    height: 200px;
    max-width: 400px;
    background: var(--b);
    border-radius: 10px;
    position: relative;
}

.action-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.table{
    width: 100%;
    border: 1px solid black;
}